*

!.vscode/
!.vscode/tasks.json
!bash-docker
!bash-docker/command-build.sh
!bash-docker/command-clean-system.sh
!bash-docker/command-create.sh
!bash-docker/command-down.sh
!bash-docker/command-logs.sh
!bash-docker/command-ps.sh
!bash-docker/command-restart.sh
!bash-docker/command-show.sh
!bash-docker/command-start.sh
!bash-docker/command-stop.sh
!bash-docker/command-up.sh
!bash-docker/command-wipe-docker-volumes.sh
!bash-docker/command-wipe-local-volumes.sh
!bash-docker/util-elevate.sh
!bash-docker/util-functions.sh
!docker/
!docker/server-gitlab-ce/
!docker/server-gitlab-ce/Dockerfile
!docker-compose/
!docker-compose/server-gitlab-ce/
!docker-compose/server-gitlab-ce/docker-compose.yaml
!.dockerignore
!.gitignore
!application.env
!LICENCE
!README.md
