*

!.vscode/
!.vscode/tasks.json
!bash-docker
!docker/
!docker/server-gitlab-ce/
!docker/server-gitlab-ce/Dockerfile
!docker-compose/
!docker-compose/server-gitlab-ce/
!docker-compose/server-gitlab-ce/docker-compose.yaml
!.dockerignore
!.gitignore
!.gitmodules
!application.env
!LICENCE
!README.md