*

!.vscode

!bash-docker

!docker/
!docker/server-gitlab-ce/
!docker/server-gitlab-ce/Dockerfile

!docker-compose/
!docker-compose/server-gitlab-ce/
!docker-compose/server-gitlab-ce/docker-compose.yaml

!env/
!env/server-gitlab-ce/
!env/server-gitlab-ce/localhost.env

!.dockerignore
!.gitignore
!.gitmodules

!LICENCE
!README.md